.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
li{list-style: none}
i{    font-style: normal;}
.bgfff{bg:#fff;}
.clear{zoom:1;}
.clear:after {
  content: "";
  display: block;
  clear: both;}
a{td:none}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
$main-color:#ff9800de;
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
 font-family: "Helvetica Neue", "Microsoft Yahei", sans-serif;
  w:100vw;bg:rgb(246, 246, 246);
}
* {
  box-sizing: inherit;

&:before,
&:after {
   box-sizing: inherit;
 }
}
img{content: normal!important;}
[aspectratio]{
  position: relative;
}
[aspectratio]::before{
  content:'';display: block;width: 1px;margin-left: -1px;height: 0;
}
[aspectratio-content]{
  position: absolute;top:0;left: 0;
  right: 0;bottom: 0;width: 100%;height: 100%;
}
[flexcont]{display: flex;}
[flexcont2]{justify-content: center;align-items: center;}
[flexcont3]{align-items: center;}
.size-100vw{
  w:100%;
}
.mint-header-title{fz:34px;}
.list-warp{
  padding:0 28px;bdb:1px solid rgb(230, 230, 230);mt:26px;bg:#fff;
}
.list-top{
  fz:32px;flex-wrap: wrap;
  bdb:1px dashed rgb(230, 230, 230);    color: rgb(168, 168, 168);lh:90px;justify-content: space-between;
  i{c:rgba(3, 169, 244, 0.91)}
}
.list-bottom{
  padding: 24px 0px;
  fz:32px;justify-content: space-between;c:$main-color;lh:60px;
i{c:#222;fz:30px;}
    p:nth-child(1){
    i{display: inline-block;width:140px;}
    }
  p:nth-child(2){
    align-self: center;
  }
}
.order-list-item{
  p:20px;lh:56px;bdb:1px solid #ddd;m:26px 0;
h4{fz:28px}
p{justify-content: space-between;flex-wrap: wrap;fz:26px;c:#666;flex-wrap: wrap;mr:6px;}
}
.login-warp{
.mint-button{h:68px;fz:36px;mt:20px;}
.mint-cell-wrapper{fz:30px;lh:110px;}
}
.mint-msgbox{
  p:20px 0;
}
.mint-msgbox-title{fz:28px;}
.mint-msgbox-confirm{fz:32px;}
.mint-searchbar{
  padding:10px;
  .mint-searchbar-inner{h:56px;bdrs:8px;}
.mint-searchbar-inner .mintui-search{fz:4.2vw;}
}
.mintui{fz:34px;}
.mint-badge.is-size-normal{fz:26px;}
.stock-check-warp{

dt{
  justify-content:space-between;p:22px;fz:30px;m:0 auto;w:95vw;
  c: #555;bdb:1px solid #eee;
.icon{size:40px;c: #9f9f9f;

}
}
dt:nth-child(1){mt:24px;}
}
.order-list-warp{
  h4{fz:33px;}
  p{fz:31px;}
.stcok-tit{
  bdb:1px dashed #666;fz:33px;mb:20px;pb:10px;
  b{fz:33px;}
}
}
.mint-searchbar-core{fz:30px;}
.mint-search-list{
  pt:0;b:none;overflow-y: scroll;height: calc(100vh - 70px);
.mint-cell{h:60px;}
  .mint-cell-wrapper{lh:66px;fz:26px;}
  .mint-cell-text{fz:30px;}
}
.height-warp{
  height: calc(100vh - 180px);    overflow-y: scroll;
}
.header{
  h:70px;
  .mint-header{
    h:70px;fz:30px;bg:#f2a11c;position: fixed;l:0;t:0;w:100%;
  }
}
.loadingDom{fz:32px;text-align: center;padding: 22px 0;}
.loading p{fz:34px;}
